VITE_LAUNCHER_NAME=Fishky
VITE_LAUNCHER_VERSION=1.0.21
VITE_ENABLE_API=false
VITE_BACKEND_URL=http://127.0.0.1:3551
VITE_DISCORD_LINK=https://example.com
VITE_LOGO_URL=/Images/logo.png
VITE_BACKGROUND_URL=/Images/build-placeholder.webp
VITE_PLACEHOLDER_IMAGE=/Images/build-placeholder.webp
VITE_PAKS_AND_SIGS_LINKS=
VITE_UPDATER_CONFIGURED=true